{
  "extends": "rallycoding",
  "env": {
      "browser": true,
      "node": true,
      "jest": true
    },
  "rules": {
      "no-extra-semi": 2,
      "no-useless-constructor": 0,
      "semi": [2, "never"],
      "quotes": ["error", "double"],
      "arrow-body-style": 0
    }
}
